/*!Build Time:2014/01/29 01:49:03 PM */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,object,fieldset,input,textarea,p,blockquote,th,td {
	padding:0;
	margin:0;
}
body {
	font:12px/22px "\5FAE\8F6F\96C5\9ED1",arial,Verdana,"\5B8B\4F53";
	word-break:break-all;
	background:#fff;
	color:#3f3e3e;
}
ul,ol,li {
	list-style:none;
}
cite,em,address {
	font-style:normal;
}
input,select,textarea {
	font:normal normal 12px "\5FAE\8F6F\96C5\9ED1","Verdana";
	color:#555;
	outline:none;
}
textarea,input[type|="text"],input[type|="password"] {
	-webkit-appearance:none;
}
textarea {
	resize:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:14px;
}
img {
	border:0;
	vertical-align:top;
}
a {
	color:#3f3e3e;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#f15a24;
	text-decoration:underline;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
fieldset {
	border:none;
}
.hide {
	display:none;
}
.submit {
	cursor:pointer;
	border:0;
}
.clear {
	clear:both;
	font-size:0;
	width:0;
	height:0;
	visibility:hidden;
	line-height:0;
	overflow:hidden;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
* html>body .clearfix {
	display:inline-block;
	width:100%;
}
* html .clearfix {
	/* Hides from IE-mac \*/height:1%;
	/* End hide from IE-mac */;
}
*+html .clearfix {
	min-height:1%;
}
.collr,.collr .colr {
	zoom:1;
	overflow:hidden;
}
.collr .coll {
	float:left;
	_margin-right:-3px;
}
.collr .coll img {
	vertical-align:top;
}
.weaken,.ignore {
	color:#909090;
}
.stress {
	color:#f00;
}
.orange {
	color:#f15a24;
}
#bd {
	width:1130px;
	margin:0 auto;
	text-align:left;
	padding-bottom:1px;
}
.w960 #bd {
	width:960px;
}
@media only screen and (max-width:1129px) {
	#bd {
	width:960px;
}
}.pitch {
	margin-bottom:20px;
}
.section {
	background-color:#fbf9f9;
}
.advertising {
	width:100%;
	overflow:hidden;
}
.loading-sya {
	color:#FFF;
	font-size:14px;
}
.loading-sya .ico {
	margin-right:5px;
}
.p-cols {
	zoom:1;
}
.p-cols:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.p-cols .p-col1 {
	width:100%;
	float:left;
}
.p-cols .p-col2,.p-cols .p-col3 {
	float:left;
}
.col-sya .p-col1-1 {
	margin-right:290px;
}
.col-sya .p-col3 {
	width:270px;
	margin-left:-270px;
}
.col-sya,.col-syb {
	margin-bottom:20px;
}
.col-syb .col-left,.col-syb .col-right {
	width:50%;
	float:left;
}
.col-syb .col-left .bx {
	margin-right:15px;
}
.col-syb .col-right .bx {
	margin-left:15px;
}
.col-syb .bx .p-list,.col-syb .bx .p-list {
	margin-left:-15px;
}
.col-syb .bx .p-item {
	margin-left:15px;
}
.col-syc .p-col1-1 {
	margin-right:282px;
}
.col-syc .p-col3 {
	width:270px;
	margin-left:-270px;
}
.col-syd .p-col1-1 {
	margin-left:282px;
}
.col-syd .p-col3 {
	width:270px;
	margin-left:-100%;
}
.col-sye .p-col1-1 {
	margin-left:220px;
}
.col-sye .p-col3 {
	width:200px;
	margin-left:-100%;
}
.w960 .col-sya .bx {
	overflow:hidden;
}
.p-item {
	zoom:1;
}
.p-item .thumb-outer,.p-item .img-outer {
	display:block;
}
.p-item .t {
	height:22px;
	line-height:22px;
	overflow:hidden;
	margin-top:2px;
}
.p-item .t-sya {
	height:40px;
	line-height:20px;
	margin-top:4px;
	overflow:hidden;
	margin-bottom:2px;
}
.p-item .des,.p-item .sub {
	height:18px;
	line-height:18px;
	color:#949494;
	overflow:hidden;
}
.p-item .des-sya {
	height:36px;
	line-height:18px;
	color:#949494;
	overflow:hidden;
}
.mask,.mask .bg {
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
}
.mask {
	height:20px;
}
.mask .status {
	height:20px;
	line-height:20px;
	overflow:hidden;
	padding:0 5px;
	position:relative;
	z-index:1;
	color:#fff;
	display:block;
}
.mask .bg {
	height:20px;
	background-color:#000;
	opacity:.6;
	filter:alpha(opacity=60);
}
.mask .center {
	text-align:center;
}
.mask .right {
	text-align:right;
}
.btn-sya {
	background-color:#f05c28;
	padding:0 6px;
	font-size:14px;
	line-height:30px;
	height:30px;
	display:inline-block;
	overflow:hidden;
	color:#FFF;
	vertical-align:top;
}
.btn-sya:hover {
	background-color:#f05c28;
	color:#FFF;
	text-decoration:none;
}
.ico,.ico-play {
	display:inline-block;
	overflow:hidden;
	line-height:0;
	font-size:0;
	color:transparent!important;
	vertical-align:top;
}
.ico {
	background-image:url(../images/play/ico_PPS.png);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	vertical-align:middle;
}
.ico-rank {
	background-position:0 -17px;
	width:21px;
	height:23px;
}
.ico-chevron-right {
	background-position:-24px -17px;
	width:6px;
	height:9px;
}
.ico-arrow-left,.ico-arrow-right {
	width:7px;
	height:12px;
}
.ico-arrow-right {
	background-position:-9px 0;
}
.ico-dot {
	width:3px;
	height:3px;
	overflow:hidden;
	background:#000;
}
.ico-drop {
	height:1px;
	overflow:hidden;
	display:block;
	border:6px solid #9e9e9e;
	border-color:#9e9e9e #d1d1d1;
	border-width:5px 5px 0 5px;
	position:absolute;
}
.drop-open .ico-drop {
	border-width:0 5px 5px 5px;
}
.ico-arrow-left-sya,.ico-arrow-right-sya {
	cursor:pointer;
	width:16px;
	height:27px;
}
.ico-arrow-left-sya {
	background-position:-36px 0;
}
.ico-arrow-right-sya {
	background-position:-54px 0;
}
.ico-arrow-left-syb,.ico-arrow-right-syb {
	cursor:pointer;
	width:32px;
	height:25px;
}
.ico-arrow-left-syb {
	background-position:0 -41px;
}
.ico-arrow-right-syb {
	background-position:-34px -41px;
}
.ico-arrow-left-syb:hover {
	background-position:-102px -41px;
}
.ico-arrow-right-syb:hover {
	background-position:-68px -41px;
}
.ico-arrow-drop {
	background-position:-24px -28px;
	width:8px;
	height:5px;
	position:relative;
	top:-1px;
	left:6px;
}
.ico-arrow-drop-sya {
	background-position:-44px -35px;
	width:8px;
	height:5px;
}
.drop-open .ico-arrow-drop-sya {
	background-position:-44px -28px;
}
.ico-arrow-more,.ico-arrow-less {
	width:8px;
	height:5px;
	position:relative;
	top:-1px;
	right:0;
}
.ico-arrow-more {
	background-position:-34px -28px;
}
.ico-arrow-less {
	background-position:-34px -34px;
}
.ico-arrow-denote {
	background-position:-53px -28px;
	height:11px;
	width:17px;
}
.ico-dot-sya {
	background-position:-25px -34px;
	height:5px;
	width:5px;
}
.ico-cancel {
	width:10px;
	height:10px;
	background-position:-124px 0;
}
.ico-again {
	width:16px;
	height:15px;
	background-position:-108px 0;
}
.ico-grid {
	width:19px;
	height:19px;
	background-position:-40px -67px;
}
.ico-list {
	width:19px;
	height:19px;
	background-position:-20px -67px;
}
a:hover .ico-grid {
	background-position:-60px -67px;
}
a:hover .ico-list {
	background-position:0 -67px;
}
.select:hover .ico-grid,.select .ico-grid {
	background-position:-20px -87px;
}
.select:hover .ico-list,.select .ico-list {
	background-position:0 -87px;
}
.ico-btn-play {
	width:25px;
	height:24px;
	background-position:-106px -67px;
}
.ico-play {
	background:url(../images/play/ico_play.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="../images/play/ico_play.png");
	width:30px;
	height:30px;
	cursor:pointer;
}
.ico-play-64 {
	background:url(../images/play/ico_play_64.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="../images/play/ico_play_64.png");
	width:64px;
	height:64px;
	cursor:pointer;
}
.ico-play-sya {
	background:url(../images/play/ico_play_sya.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="../images/play/ico_play_sya.png");
	height:20px;
	width:20px;
	cursor:pointer;
}
.ico-play-syb {
	width:18px;
	height:18px;
	background-position:-116px -21px;
}
.ico-hot {
	width:18px;
	height:20px;
	background-position:-71px 0;
}
a:hover .ico-hot {
	background-position:-89px 0;
}
.ico-light {
	width:15px;
	height:20px;
	background-position:-71px -21px;
}
a:hover .ico-light {
	background-position:-86px -21px;
}
.close .ico-light,.close:hover .ico-light {
	background-position:-101px -21px;
}
.ico-sina-32,.ico-qq-32,.ico-renren-32 {
	display:inline-block;
	background-image:url(../images/play/ico_share_32.png);
	background-repeat:no-repeat;
	width:32px;
	height:32px;
	overflow:hidden;
	vertical-align:middle;
}
.ico-sina-32 {
	background-position:0 0;
}
.ico-qq-32 {
	background-position:0 -32px;
}
.ico-renren-32 {
	background-position:0 -64px;
}
.ico-video-quality {
	background:url(../images/play/ico_quality.png) no-repeat;
	display:block;
	width:387px;
	height:65px;
	font-size:0;
	line-height:0;
	overflow:hidden;
	color:transparent!important;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="../images/play/ico_quality.png");
}
.video-quality {
	display:block;
	width:46px;
	height:45px;
	overflow:hidden;
	position:absolute;
	left:-1px;
	top:-1px;
}
.video-quality- .ico-video-quality {
	display:none;
}
.video-quality-b .ico-video-quality {
	margin-left:-46px;
}
.video-quality-s .ico-video-quality {
	margin-left:-92px;
}
.video-quality-z .ico-video-quality {
	margin-left:-138px;
}
.video-quality-h .ico-video-quality {
	margin-left:-184px;
}
.video-quality-n .ico-video-quality {
	margin-left:-230px;
}
.video-quality-dj {
	height:48px;
}
.video-quality-dj .ico-video-quality {
	margin-left:-276px;
}
.video-quality-dj2 {
	width:65px;
	height:65px;
}
.video-quality-dj2 .ico-video-quality {
	margin-left:-322px;
}
.ico-loading-sya {
	width:16px;
	height:16px;
	overflow:hidden;
	background:url(../images/play/loading_sya.gif) no-repeat;
}
.form-item {
	overflow:hidden;
	zoom:1;
	vertical-align:top;
}
.form-item .ft,.form-item .oer,.form-item .select,.form-item .textarea,.form-item .lb,.form-item .input,.form-item .select,.form-item .default,.form-item .wrong,.form-item .correct {
	float:left;
	margin-right:5px;
}
.form-item .input,.form-item .textarea,.form-item .select {
	padding:3px;
	border:1px solid #d3d3d3;
}
.form-item .yzm-img,.form-item .ft,.form-item .textarea,.form-item .select,.form-item .input {
	margin-right:8px;
	font-size:14px;
}
.form-item .input,.form-item .textarea {
	padding:5px 6px;
	background-color:#f1f1f1;
}
.form-item .input {
	line-height:18px;
	height:18px;
	width:250px;
}
.form-item .textarea {
	width:264px;
	height:7em;
	overflow:auto;
}
.form-item .ft {
	width:4em;
	margin-top:2px;
}
.form-item .yzm-img,.form-item .yzm-link {
	float:left;
}
.form-item .yzm-input {
	width:80px;
}
.form-item .yzm-link {
	font-size:12px;
	margin-right:16px;
	color:#3e3e3e;
	margin-top:3px;
}
.form-item .rd {
	margin-right:5px;
}
.form-item .oer {
	white-space:nowrap;
}
.form-item .rck,.form-agree .rck {
	margin-right:3px;
	margin-top:-1px;
	height:13px;
	width:13px;
}
.form-agree {
	zoom:1;
	overflow:hidden;
}
.form-agree .rck {
	vertical-align:middle;
}
.form-item .rck {
	float:left;
}
.form-item .wrong .b,.form-item .correct .b {
	background-image:url(../images/play/global_sya.png);
	background-repeat:no-repeat;
}
.form-item .wrong,.form-item .correct,.form-item .default {
	font-size:14px;
	position:relative;
}
.form-item .correct,.form-item .default,.form-item .wrong {
	margin-top:2px;
}
.form-item .default {
	color:#949494;
}
.form-item .wrong {
	color:#F00;
}
.form-item .correct {
	color:#0EA71A;
}
.form-item .wrong .b,.form-item .correct .b {
	margin-right:3px;
	display:inline-block;
	vertical-align:middle;
	width:14px;
	height:14px;
	overflow:hidden;
}
.form-item .wrong .b {
	background-position:0 -15px;
}
.form-item .correct .b {
	width:16px;
	background-position:0 0;
}
.side-tool-sya {
	z-index:101;
	position:fixed;
	bottom:0;
	right:22px;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight));
}
.side-tool-sya .gotop,.side-tool-sya .gotop .bg {
	display:block;
	width:50px;
	height:50px;
	overflow:hidden;
}
.side-tool-sya .gotop {
	bottom:30px;
	right:15px;
	cursor:pointer;
	position:absolute;
	color:#FFF;
}
.side-tool-sya .gotop .bg {
	opacity:.85;
	filter:alpha(opacity=85);
	border-radius:3px;
	background-color:#000;
	z-index:0;
}
.side-tool-sya .gotop:hover .bg {
	opacity:.6;
	filter:alpha(opacity=60);
}
.side-tool-sya .gotop .ico-gotop {
	position:absolute;
	left:12px;
	top:18px;
	z-index:1;
	background-image:url(../images/play/global_syb.png);
	background-repeat:no-repeat;
	width:26px;
	height:14px;
}
.pps-mini-header .ico-h-warn {
	background:url(../images/play/ico_warn.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="../images/play/ico_warn.png");
}
.pps-mini-header .pps-ucenter .play-records,.pps-mini-header .pps-ucenter .upload,.pps-mini-header .pps-ucenter .download,.pps-mini-header .pps-ucenter .feedback,.pps-mini-header .pps-ucenter .apply-vip,.pps-mini-header .pps-ucenter .profit,.ico-h-new,.pps-mini-header .ico-h-so,.pps-mini-header .ico-h-arrow-sya,.pps-mini-header .ico-h-user-silhouette,.pps-mini-header .ico-h-clock-sya,.pps-mini-header .ico-h-arrow-up-sya,.pps-mini-header .ico-h-arrow-down-sya,.pps-mini-header .ico-h-feedback,.pps-mini-header .ico-h-dot,.pps-mini-header .records-order .dd .s4 .del,.pps-mini-header .drop-panel .act-syb .dels,.pps-mini-header .login-before a,.pps-mini-header .pps-so .button,.pps-mini-header .pps-mini-header .login-after .user-photo,.pps-mini-header .ico-h-vip-gold,.pps-mini-header .ico-h-vip-isnt {
	background:url(../images/play/mini_header.png) no-repeat;
}
.ico-h-new,.pps-mini-header .ico-h-so,.pps-mini-header .ico-h-arrow-sya,.pps-mini-header .ico-h-user-silhouette,.pps-mini-header .ico-h-clock-sya,.pps-mini-header .ico-h-arrow-up-sya,.pps-mini-header .ico-h-arrow-down-sya,.pps-mini-header .ico-h-feedback,.pps-mini-header .ico-h-dot {
	width:14px;
	height:11px;
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
}
.pps-mini-header .ico-h-user-silhouette {
	width:18px;
	height:16px;
	background-position:-169px 0;
	margin-right:5px;
}
.pps-mini-header .ico-h-clock-sya {
	margin-right:2px;
	width:17px;
	height:17px;
	background-position:-104px 0;
	margin-top:-2px;
}
.pps-mini-header .ico-h-arrow-up-sya {
	margin-right:2px;
	background-position:-154px -3px;
}
.pps-mini-header .ico-h-feedback {
	margin-right:2px;
	width:11px;
	height:14px;
	background-position:-123px -2px;
}
.pps-mini-header .ico-h-dot {
	width:8px;
	height:8px;
	background-position:-118px -18px;
}
.pps-mini-header .ico-h-so {
	width:21px;
	height:22px;
	background-position:-64px -36px;
}
.pps-mini-header .records-order .dd .s4 .del {
	width:11px;
	height:11px;
	overflow:hidden;
	background-position:-127px -18px;
}
.pps-mini-header .drop-panel .act-syb .dels {
	width:13px;
	height:15px;
	background-position:-104px -18px;
	overflow:hidden;
}
.pps-mini-header .ico-h-arrow-down-sya {
	margin-right:2px;
	background-position:-138px -3px;
}
.pps-mini-header .ico-h-arrow-sya {
	width:11px;
	height:6px;
	background-position:-188px -6px;
}
.pps-mini-header .drop-down-open .ico-h-arrow-sya {
	background-position:-188px -1px;
}
.pps-mini-header .ico-h-warn {
	width:16px;
	height:16px;
}
.pps-mini-header .ico-h-vip-gold,.pps-mini-header .ico-h-vip-isnt {
	width:14px;
	height:14px;
	font-size:0;
	line-height:0;
	color:transparent!important;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
}
.pps-mini-header .ico-h-vip-gold {
	background-position:-172px -18px;
}
.pps-mini-header .ico-h-vip-isnt {
	background-position:-172px -33px;
}
.pps-mini-header .ico-tips-sya-arrow {
	position:absolute;
	top:-11px;
	left:50%;
	margin-left:-11px;
}
.pps-mini-header .ico-tips-sya-arrow .arrow,.pps-mini-header .ico-tips-sya-arrow .line {
	display:block;
	font-family:"SimSun";
	font-size:21px;
	height:10px;
	overflow:hidden;
}
.pps-mini-header .ico-tips-sya-arrow .line {
	color:#AAA;
}
.pps-mini-header .ico-tips-sya-arrow .arrow {
	margin-top:-9px;
	color:#FFF;
}
.ico-h-new {
	width:22px;
	height:13px;
	background-position:-139px -52px;
}
#hd,.pps-mini-header {
	min-width:960px;
}
.pps-mini-header {
	background:#121212;
}
.pps-mini-header .header-inner {
	width:1130px;
	margin:0 auto;
	height:62px;
	position:relative;
	z-index:10;
}
.pps-mini-header .header-inner:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.pps-mini-header .pps-logo,.pps-mini-header .pps-so {
	float:left;
}
.pps-mini-header .pps-logo {
	width:132px;
	overflow:hidden;
	display:inline;
	margin-right:10px;
	padding-top:8px;
}
.pps-mini-header .pps-logo img{
	vertical-align: top;
    display: block;
    height: 47px;
    padding-top: 1px;
}
.pps-mini-header .pps-so {
	margin-top:17px;
	zoom:1;
	position:relative;
	margin-left:60px;
}
.pps-mini-header .pps-so-panel {
	position:relative;
	zoom:1;
	_display:inline;
	overflow:hidden;
}
.pps-mini-header .pps-so .input,.pps-mini-header .pps-so .button {
	float:left;
	overflow:hidden;
}
.pps-mini-header .pps-so .input {
	background-color:#fbf9f9;
	width:260px;
	height:20px;
	line-height:20px;
	padding:3px 2px 2px 27px;
	border:2px solid #b3b3b3;
	font-size:14px;
	border-right:0;
}
.pps-mini-header .pps-so .button {
	width:64px;
	height:29px;
	background-color:#fbf9f9;
	border:none;
	font-size:18px;
	color:#FFF;
	cursor:pointer;
	background-position:0 -36px;
	font-size:16px;
}
.pps-mini-header .pps-so .ico-h-so {
	position:absolute;
	left:5px;
	top:3px;
}
.pps-mini-header .pps-so-suggest {
	display:none;
	width:289px;
	position:absolute;
	left:0;
	top:28px;
	border:1px solid #B3B3B3;
	background-color:#FFF;
}
.pps-mini-header .suggest-list .item {
	font-size:14px;
	position:relative;
	vertical-align:top;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.pps-mini-header .suggest-list .item a {
	color:#949494;
	padding-left:12px;
	display:block;
}
.pps-mini-header .suggest-list .item .update {
	color:#f15a24;
	font-size:12px;
	padding-left:20px;
}
.pps-mini-header .suggest-list .item .ico-dot {
	width:2px;
	height:2px;
	overflow:hidden;
	position:absolute;
	left:13px;
	top:14px;
}
.pps-mini-header .suggest-list .item .type {
	color:#AAA;
}
.pps-mini-header .suggest-list .select a {
	background-color:#a7a7a7;
	color:#FFF;
	text-decoration:none;
}
.pps-mini-header .suggest-list .select .type,.pps-mini-header .suggest-list .select .update {
	color:#FFF;
}
.pps-mini-nav {
	float:left;
	width:146px;
}
.pps-mini-nav .nav-list {
	zoom:1;
}
.pps-mini-nav .nav-list:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.pps-mini-nav .nav-item {
	float:left;
	width:73px;
	_display:inline;
}
.pps-mini-nav .nav-item .na {
	color:#fff;
	font-size:16px;
	line-height:62px;
	display:block;
	text-align:center;
}
.pps-mini-nav .nav-item .na:hover {
	color:#f15a24;
}
.pps-mini-nav .drop-down-sya .drop-panel {
	padding:10px 5px 10px 20px;
	width:360px;
}
.pps-mini-nav .dp-nav-list {
	zoom:1;
	overflow:hidden;
}
.pps-mini-nav .dp-nav-list li {
	float:left;
	padding-right:1px;
	width:50px;
	line-height:24px;
	position:relative;
}
.pps-mini-nav .dp-nav-list .ico-h-new {
	position:absolute;
	right:2px;
	top:0;
}
.pps-mini-nav .dp-nav-list a {
	color:#fff;
	cursor:pointer;
}
.pps-mini-nav .dp-nav-list a:hover {
	color:#f15a24;
}
.pps-mini-header .drop-down-sya {
	position:relative;
	zoom:1;
}
.pps-mini-header .drop-down-sya .ico-h-arrow-sya {
	margin-left:3px;
}
.pps-mini-header .drop-down-sya .drop-trigger {
	_height:42px;
	_padding-top:20px;
	line-height:22px;
}
.pps-mini-header .drop-down-sya .drop-panel {
	display:none;
	background:#6c6c6c;
	position:absolute;
	left:0;
	top:62px;
}
.pps-mini-header .pps-mini-nav .drop-down-open .drop-panel {
	display:block;
}
.pps-mini-header .pps-mini-nav .drop-down-open .drop-trigger {
	background:#6c6c6c;
}
.pps-mini-header .pps-ucenter {
	float:right;
	width:380px;
	margin-top:23px;
}
.pps-mini-header .pps-ucenter .user-state,.pps-mini-header .pps-ucenter .user-tool-list {
	float:right;
	font-size:14px;
}
.pps-mini-header .pps-ucenter .ua,.pps-mini-header .pps-ucenter .login-before a,.pps-mini-header .login-after .drop-trigger .user-name i {
	color:#949494;
}
.pps-mini-header .pps-ucenter .play-records,.pps-mini-header .pps-ucenter .upload,.pps-mini-header .pps-ucenter .download,.pps-mini-header .pps-ucenter .feedback,.pps-mini-header .pps-ucenter .apply-vip,.pps-mini-header .pps-ucenter .profit {
	float:left;
	font-size:14px;
	display:inline;
	background-position:-205px 4px;
	padding:0 6px;
}
.pps-mini-header .drop-down {
	position:relative;
	float:left;
}
.pps-mini-header .drop-down .drop-trigger {
	cursor:pointer;
}
.pps-mini-header .drop-down .drop-panel {
	display:none;
	position:absolute;
	top:28px;
	border:1px solid #bebebe;
	background-color:#FFF;
}
.pps-mini-header .drop-down-open .drop-panel {
	display:block;
}
.pps-mini-header .drop-down .drop-panel .drop-tips-sya {
	padding:10px 10px 0;
	font-size:12px;
}
.pps-mini-header .drop-down .drop-panel .act {
	height:30px;
	line-height:30px;
	background-color:#f2f2f2;
	margin:0 -10px;
}
.pps-mini-header .drop-down .drop-panel .act-sya {
	padding:0 12px;
	text-align:right;
}
.pps-mini-header .drop-down .drop-panel .act-sya a {
	margin-left:15px;
}
.pps-mini-header .drop-down .drop-panel .act-syb {
	padding:0 12px;
}
.pps-mini-header .drop-down .drop-panel .act-syb .more {
	float:right;
}
.pps-mini-header .drop-down .drop-panel .act-syb .dels {
	float:left;
	text-indent:-999em;
	margin-top:7px;
}
.pps-mini-header .pps-ucenter .user-state .drop-panel {
	width:238px;
	right:-116px;
	overflow:hidden;
}
.pps-mini-header .login-before,.pps-mini-header .login-after {
	display:none;
}
.pps-mini-header .login-before {
	overflow:hidden;
}
.pps-mini-header .login-before:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.pps-mini-header .login-before a {
	float:left;
	background-position:-205px 4px;
	padding:0 8px;
	margin-left:-1px;
}
.pps-mini-header .login-after .drop-down {
	float:right;
	margin-right:6px;
	display:inline;
}
.pps-mini-header .login-after .drop-trigger {
	float:left;
	position:relative;
	font-size:12px;
	padding-right:12px;
}
.pps-mini-header .login-after .drop-trigger .user-name i,.pps-mini-header .login-after .drop-trigger .pps-user,.pps-mini-header .login-after .drop-trigger .ico-h-vip-gold,.pps-mini-header .login-after .drop-trigger .ico-h-vip-isnt {
	float:left;
	height:22px;
	overflow:hidden;
}
.pps-mini-header .login-after .drop-trigger .ico-h-vip-gold,.pps-mini-header .login-after .drop-trigger .ico-h-vip-isnt {
	height:14px;
	margin-top:3px;
	margin-left:2px;
}
.pps-mini-header .login-after .drop-trigger .pps-user {
	width:72px;
	padding-right:2px;
	text-align:right;
	font-style:normal;
	font-weight:normal;
}
.pps-mini-header .login-after .drop-trigger .ico-h-warn {
	position:absolute;
	right:5px;
	top:-5px;
}
.pps-mini-header .login-after .ico-h-arrow-sya {
	position:absolute;
	right:0;
	top:9px;
}
.pps-mini-header .login-after .user-photo {
	position:absolute;
	left:10px;
	top:5px;
	width:16px;
	height:16px;
	padding:8px;
	background-position:-139px -18px;
	overflow:hidden;
}
.pps-mini-header .login-after .user-info {
	border-bottom:1px solid #bebebe;
	margin:-10px -10px 0 -10px;
	padding:10px 5px 10px 42px;
}
.pps-mini-header .login-after .user-info .user-name {
	display:block;
	height:22px;
	overflow:hidden;
	margin-left:2px;
}
.pps-mini-header .login-after .user-info-sya {
	border-bottom:1px solid #bebebe;
	margin:-5px -10px 0;
	padding-bottom:5px;
}
.pps-mini-header .login-after .user-info-sya .user-info-bd {
	height:32px;
	line-height:32px;
	overflow:hidden;
	position:relative;
	zoom:1;
	padding-left:44px;
}
.pps-mini-header .login-after .user-info-sya .user-photo {
	top:0;
}
.pps-mini-header .login-after .user-info-sya .user-name {
	margin-right:5px;
}
.pps-mini-header .login-after .user-info-sya .user-status {
	position:absolute;
	top:8px;
}
.pps-mini-header .login-after .user-tips {
	margin:0 -10px;
	padding:5px 20px;
	border-bottom:1px solid #bebebe;
}
.pps-mini-header .login-after .user-tips-list .view {
	color:#f15a24;
	text-decoration:underline;
}
.pps-mini-header .login-after .user-guide {
	margin:0 -10px;
	padding:8px 0 8px 20px;
}
.pps-mini-header .login-after .user-guide-list {
	zoom:1;
	overflow:hidden;
	margin-top:-5px;
}
.pps-mini-header .login-after .user-guide-list .item {
	float:left;
	width:90px;
	height:27px;
	line-height:27px;
	border:1px solid #1f1f1f;
	background-color:#2f2f2f;
	margin-right:12px;
	margin-top:5px;
	text-align:center;
}
.pps-mini-header .login-after .user-guide-list .item a {
	color:#FFF;
}
.pps-mini-header .play-records .drop-panel {
	width:338px;
	left:-155px;
}
.pps-mini-header .play-records .empty,.pps-mini-header .play-records .loading {
	color:#f15a24;
	padding:10px 0 15px;
	text-align:center;
}
.pps-mini-header .play-records .empty {
	color:#949494;
}
.pps-mini-header .records-order {
	border-left:1px solid #bebebe;
	margin-left:3px;
	padding-left:9px;
}
.pps-mini-header .records-order .order-dl {
	padding-bottom:8px;
}
.pps-mini-header .records-order .dt {
	position:relative;
	margin-bottom:8px;
}
.pps-mini-header .records-order .dd {
	height:26px;
	line-height:26px;
	overflow:hidden;
}
.pps-mini-header .records-order .dd a {
	text-decoration:none;
}
.pps-mini-header .records-order .dd .s1,.pps-mini-header .records-order .dd .s2,.pps-mini-header .records-order .dd .s3,.pps-mini-header .records-order .dd .s4 {
	float:left;
	overflow:hidden;
	display:none;
}
.pps-mini-header .records-order .dd .s1 {
	width:135px;
	padding-left:5px;
	display:block;
}
.pps-mini-header .records-order .dd .s2 {
	width:80px;
	color:#949494;
}
.pps-mini-header .records-order .dd .s3 {
	width:66px;
	text-align:right;
	padding-right:5px;
}
.pps-mini-header .records-order .dd .s4 {
	margin-top:7px;
}
.pps-mini-header .records-order .dd .s4 .del {
	float:left;
	text-indent:-999em;
}
.pps-mini-header .records-order .hover {
	background-color:#f2f2f2;
}
.pps-mini-header .records-order .hover .s2,.pps-mini-header .records-order .hover .s3,.pps-mini-header .records-order .hover .s4 {
	display:block;
}
.pps-mini-header .records-order .ico-h-dot {
	position:absolute;
	left:-13px;
	top:5px;
}
.pps-mini-header .records-order .ta,.pps-mini-header .records-order .tb {
	width:41px;
	height:17px;
	line-height:17px;
	text-align:center;
	overflow:hidden;
	background-color:#f15a24;
	color:#FFF;
	display:block;
}
.pps-mini-header .records-order .tb {
	background-color:#858585;
}
@media only screen and (max-width:1129px) {
	.pps-mini-header .header-inner {
	width:960px;
}
.pps-mini-header .pps-so {
	margin-left:30px;
}
.pps-mini-header .pps-so .input {
	width:150px;
}
.pps-mini-header .pps-so-suggest {
	width:179px;
}
}.w960 .pps-mini-header .header-inner {
	width:960px;
}
.w960 .pps-mini-header .pps-so {
	margin-left:30px;
}
.w960 .pps-mini-header .pps-so .input {
	width:150px;
}
.w960 .pps-mini-header .pps-so-suggest {
	width:179px;
}
.bx-syc,.bx-syc .hd,.bx-syc .bd {
	zoom:1;
}
.bx-syc {
	position:relative;
}
.bx-syc .hd {
	border-bottom:2px solid #dadada;
	line-height:28px;
	position:relative;
	margin-bottom:12px;
}
.bx-syc .hd:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.bx-syc .hd .h {
	font-size:18px;
	line-height:38px;
	padding-left:5px;
	font-weight:normal;
}
.bx-syc .hd .h .span{
	font-size:18px;
	line-height:38px;
	padding-left:5px;
	font-weight:normal;
	color: #f05c28;
}
.bx-syc .hd .adorn {
	height:3px;
	width:45px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:-2px;
}
.bx-syc .hd .adorn-gray {
	background-color:#6b6b6b;
}
.bx-syc .hd .adorn-ashy {
	background-color:#9c9c9c;
}
.tab-sya:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.tab-sya .tab-sya-item {
	font-size:14px;
	float:left;
	margin-right:5px;
	position:relative;
}
.tab-sya .tab-link {
	background-color:#d1d1d1;
	color:#5d5d5d;
	line-height:26px;
	display:block;
	width:90px;
	cursor:pointer;
	text-align:center;
	position:relative;
}
.tab-sya .tab-link:hover {
	background-color:#a3a3a3;
	color:#3f3e3e;
	text-decoration:none;
}
.tab-sya .select .tab-link {
	background-color:#f15a24;
	color:#fff;
}
.tab-sya .select .tab-link:hover {
	background-color:#f15a24;
	color:#fff;
}
.tab-sya .tab-sya-item .denote {
	top:22px;
	left:38px;
	line-height:11px;
	*line-height:12px;
	overflow:hidden;
	zoom:1;
}
.tab-sya .select .denote {
	display:block;
}
.tab-sya .denote {
	display:none;
	color:#f15a24;
	position:absolute;
	line-height:12px;
}
.p-list-sye .p-item {
	border-bottom:1px solid #ebebeb;
	padding:10px 0;
	zoom:1;
}
.p-list-sye .p-item .coll {
	width:148px;
	position:relative;
	height:216px;
	overflow:hidden;
}
.p-list-sye .p-item .coll .thumb-outer:hover {
	text-decoration:none;
}
.p-list-sye .p-item .coll .thumb-outer {
	cursor:pointer;
}
.p-list-sye .p-item .colr {
	padding-left:15px;
}
.p-list-sye .film-detail-list .item {
	line-height:23px;
	height:23px;
	overflow:hidden;
}
.p-list-sye .film-detail-list .item-a {
	margin-bottom:7px;
}
.p-list-sye .film-detail-list .item-f {
	margin:7px 0 13px;
	height:46px;
	overflow:hidden;
}
.p-list-sye .film-detail-list .item-f .more {
	margin-left:10px;
}
.p-list-sye .film-detail-list .item-g {
	height:auto;
}
.p-list-sye .p-item .t,.p-list-sye .p-item .score {
	font-size:14px;
	margin-right:5px;
}
.p-list-sye .p-item .score {
	color:#ee5b27;
}
.p-list-sye .p-item .bt,.p-list-sye .p-item .slash {
	color:#949494;
}
.p-list-sye .p-item .bt {
	margin-right:2px;
}
.p-list-sye .p-item .sub {
	margin-right:3px;
}
.p-list-sye .p-item .btn-sya .ico {
	margin:3px 0;
	cursor:pointer;
}
.p-list-sye .ico-play-64 {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	margin:-32px 0 0 -32px;
	z-index:2;
}
.p-list-sye .mask-sya {
	display:none;
	height:100%;
	width:100%;
	background-color:#000;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	opacity:.5;
	filter:alpha(opacity=50);
	z-index:1;
}
.p-list-sye .hover .mask-sya {
	display:block;
}
.p-list-sye .hover .ico-play-64 {
	display:block;
}
.p-list-syd {
	zoom:1;
	overflow:hidden;
}
.p-list-syd .p-item {
	float:left;
	width:110px;
	display:inline;
	margin-right:24px;
	overflow:hidden;
}
.p-list-syd .thumb-outer {
	height:70px;
	cursor:pointer;
	margin-bottom:0;
	position:relative;
	overflow:hidden;
	zoom:1;
}
.p-list-syd .thumb-outer-sya {
	height:162px;
}
.p-list-syd .thumb-outer:hover {
	text-decoration:none;
}
.p-list-syd .mask {
	z-index:3;
}
.p-list-syd .mask .status {
	padding:0 10px;
}
.p-list-syd .ico-play {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	margin:-22px 0 0 -15px;
	z-index:2;
}
.p-list-syd .ico-play-64 {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	margin:-32px 0 0 -32px;
	z-index:2;
}
.p-list-syd .mask-sya {
	height:100%;
	width:100%;
	background-color:#000;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:1;
}
.p-list-syd .hover .mask-sya {
	opacity:.5;
	filter:alpha(opacity=50);
}
.p-list-syd .hover .ico-play-64,.p-list-syd .hover .ico-play {
	display:inline-block;
}
#ft {
	min-width:960px;
	padding:30px 0 30px;
}
#ft .ft-inner {
	width:1130px;
	margin:0 auto;
	overflow:hidden;
}
#ft .pps-brim {
	zoom:1;
	overflow:hidden;
	background-color:#e5e5e5;
	padding:15px 0;
	margin-bottom:10px;
}
#ft .cooperation,#ft .pps-news,#ft .pps-soft,#ft .pps-follow {
	float:left;
	padding-left:25px;
}
#ft .cooperation {
	width:380px;
	padding-left:0;
}
#ft .cooperation .dd {
	zoom:1;
	overflow:hidden;
}
#ft .cooperation .dd a {
	margin-right:10px;
	white-space:nowrap;
	float:left;
}
#ft .cooperation .dt,#ft .pps-news .dt,#ft .pps-soft dt,#ft .pps-follow dt {
	font-size:18px;
	margin-bottom:10px;
}
#ft .pps-news {
	width:370px;
}
#ft .pps-news .dd {
	width:47.9%;
	float:left;
	height:22px;
	overflow:hidden;
	padding-right:2%;
}
#ft .pps-soft {
	width:208px;
}
#ft .pps-soft .dd {
	width:49.9%;
	float:left;
	height:22px;
	overflow:hidden;
}
#ft .pps-follow {
	width:90px;
}
#ft .pps-follow .dd {
	height:22px;
	overflow:hidden;
}
#ft .pps-app {
	float:left;
	padding-left:30px;
	width:210px;
}
#ft .pps-app .colr {
	padding-left:10px;
}
#ft .pps-app .colr .t {
	font-size:18px;
	display:block;
	margin-top:18px;
}
#ft .pps-ft {
	padding-left:200px;
	width:930px;
	margin:0 auto;
	position:relative;
}
#ft .menu {
	margin-bottom:5px;
}
#ft .menu .line {
	font-style:normal;
	font-family:"SimSun";
	margin:0 10px;
}
#ft .cert {
	line-height:18px;
}
#ft .cert,#ft .cert a {
	color:#949494;
	margin-right:10px;
}
#ft .pps-slogan {
	position:absolute;
	left:0;
	top:35px;
	background:url(../images/play/foot_hhyn.png) no-repeat;
	width:135px;
	height:30px;
	overflow:hidden;
	text-indent:-999em;
}
@media only screen and (max-width:1129px) {
	#ft .ft-inner {
	width:960px;
}
#ft .pps-news {
	width:200px;
	height:76px;
	overflow:hidden;
}
#ft .pps-news .dd {
	width:100%;
}
#ft .pps-ft {
	width:760px;
}
}.w960 #ft .ft-inner {
	width:960px;
}
.w960 #ft .pps-news {
	width:200px;
	height:76px;
	overflow:hidden;
}
.w960 #ft .pps-news .dd {
	width:100%;
}
.w960 #ft .pps-ft {
	width:760px;
}
.pps-app-layer,.pps-app-layer .bd-sya,.pps-app-layer .pps-app-link .bg {
	height:280px;
	width:110px;
}
.pps-app-layer {
	position:fixed;
	_position:absolute;
	right:10px;
	bottom:90px;
	z-index:10000;
	color:#666;
	overflow:hidden;
}
.pps-app-layer .app-close {
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	background:url(../images/play/close.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	cursor:pointer;
	z-index:6;
}
.pps-app-layer .bd-sya {
	position:relative;
}
.pps-app-layer .pps-app-link {
	display:block;
	height:280px;
	position:relative;
}
.pps-app-layer .pps-app-link:hover {
	color:#666;
	text-decoration:none;
}
.pps-app-layer .pps-app-link .bg {
	background:url(../images/play/pps_app.png) no-repeat;
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
	z-index:0;
}
.pps-app-layer .t-sya,.pps-app-layer .t-syb {
	display:none;
}
.dialog-sya,.dialog-sya .dialog-bd {
	zoom:1;
}
.dialog-sya {
	background-color:#FFF;
	position:absolute;
}
.dialog-sya .dialog-close {
	position:absolute;
	right:20px;
	top:20px;
	width:22px;
	overflow:hidden;
}
.dialog-sya .dialog-close a {
	background:url(../images/play/dialog/close.png) no-repeat;
	display:block;
	height:22px;
	text-indent:-999em;
}
.reg-sya {
	padding:0 12px;
	zoom:1;
}
.reg-sya .reg-hd {
	zoom:1;
	border-bottom:2px solid #dadada;
	padding-top:17px;
	padding-left:20px;
}
.reg-sya .reg-tab-list {
	zoom:1;
	overflow:hidden;
	padding-left:1px;
}
.reg-sya .reg-tab-list .item {
	float:left;
	padding:3px 25px;
	line-height:32px;
	font-size:18px;
	border:1px solid #dadada;
	border-bottom:0;
	cursor:pointer;
	margin-right:-1px;
	color:#959595;
}
.reg-sya .reg-tab-list .select {
	border-top:4px solid #f15a24;
	padding-top:0;
	color:#3e3e3e;
}
.reg-sya .reg-bd {
	padding:25px 20px;
	zoom:1;
}
.reg-sya .reg-bd .form-item,.reg-sya .form-agree {
	margin-bottom:10px;
}
.reg-sya .form-agree,.reg-sya .form-act {
	padding-left:64px;
	zoom:1;
	overflow:hidden;
}
.reg-sya .form-agree {
	font-size:14px;
}
.reg-sya .form-act .submit-dl,.reg-sya .form-act .submit-zc {
	float:left;
	width:130px;
	height:38px;
	overflow:hidden;
	line-height:38px;
	text-align:center;
	background-color:#f05c28;
	color:#FFF;
	font-size:18px;
	font-family:"\5FAE\8F6F\96C5\9ED1";
}
.reg-sya .form-act .submit-dl:hover,.reg-sya .form-act .submit-zc:hover {
	background-color:#da4300;
	text-decoration:none;
}
.reg-sya .form-act .open-tips {
	font-size:14px;
	width:9em;
	line-height:18px;
	padding-left:8px;
	float:left;
}
.reg-sya .form-act .forget-password {
	clear:both;
	padding-top:5px;
	font-size:14px;
}
.reg-sya .form-act .forget-password a {
	color:#f15a24;
	text-decoration:underline;
}
.reg-sya .other-login {
	zoom:1;
	overflow:hidden;
	margin-top:25px;
	border-top:1px dashed #e2e2e2;
	padding-top:25px;
}
.reg-sya .other-login .h,.reg-sya .other-login .b,.reg-sya .other-login .b .tb,.reg-sya .other-login .tips {
	float:left;
	margin-right:5px;
	display:inline;
}
.reg-sya .other-login .h,.reg-sya .other-login .tips {
	margin-top:5px;
}
.reg-sya .other-login .h {
	font-size:14px;
	color:#3e3e3e;
}
.reg-sya .other-login .b {
	margin-right:0;
}
.reg-sya .other-login .b .tb {
	margin-right:8px;
}
.reg-sya .other-login .b .tb b {
	vertical-align:top;
	cursor:pointer;
}
.reg-sya .other-login .tips {
	color:#949494;
}
#bd {
	padding-top:40px;
}
.col-syd .p-col1-1 {
	margin-left:290px;
}
.bx-syc .bd {
	padding-left:10px;
}
.retrieval {
	zoom:1;
	position:relative;
	margin-bottom:15px;
}
.retrieval-dl {
	padding:10px 100px 10px 0;
	zoom:1;
	border-bottom:1px solid #dadada;
}
.retrieval-dl .dt {
	float:left;
	color:#f15b26;
	font-size:14px;
	margin-top:-2px;
}
.retrieval-dl .dd {
	overflow:hidden;
	zoom:1;
	padding-left:5px;
}
.retrieval-list {
	zoom:1;
	overflow:hidden;
	margin-top:-5px;
}
.retrieval-list .item {
	float:left;
	line-height:20px;
	margin-top:5px;
	white-space:nowrap;
}
.retrieval-list .item a {
	color:#949494;
	padding:0 6px;
	float:left;
}
.retrieval-list .hover a {
	background-color:#f05c28;
	color:#FFF;
}
.retrieval-list .hover a:hover {
	text-decoration:none;
}
.retrieval .x-bar {
	position:absolute;
	left:0;
	top:-41px;
	line-height:19px;
	width:100%;
}
.retrieval .x-bar ul {
	zoom:1;
	overflow:hidden;
	padding-left:75px;
	font-size:14px;
}
.retrieval .x-bar .x-item,.retrieval .x-bar .stat-item {
	float:left;
}
.retrieval .x-bar .x-item {
	margin-right:5px;
}
.retrieval .x-bar .x-item a {
	float:left;
	height:20px;
	overflow:hidden;
	background-color:#ececec;
	color:#a8a8a8;
	padding:0 4px;
	font-size:14px;
}
.retrieval .x-bar .x-item a:hover {
	text-decoration:none;
}
.retrieval .x-bar .x-item .ico {
	margin:3px 0 6px 3px;
	cursor:pointer;
}
.retrieval .x-bar .stat-item {
	margin-left:30px;
	color:#a8a8a8;
}
.retrieval .x-bar .stat-item .nb {
	color:#f15a24;
}
.retrieval .x-bar .act-item {
	position:absolute;
	right:10px;
	top:0;
}
.retrieval .x-bar .act-item a {
	float:left;
}
.retrieval .x-bar .act-item .ico {
	margin:2px 3px 2px 0;
	cursor:pointer;
}
.filter {
	position:relative;
	zoom:1;
	margin-bottom:15px;
}
.filter .page-switch {
	position:absolute;
	right:0;
	top:0;
}
.filter .page-switch .page,.filter .page-switch .switch {
	float:left;
}
.filter .page-switch .page {
	margin-right:15px;
}
.filter .page-switch .ico-arrow-left-syb {
	margin-right:6px;
}
.filter .page-switch .switch-btn {
	background-color:#D1D1D1;
	height:26px;
	line-height:26px;
	float:left;
	margin-left:5px;
	padding:0 9px 0 4px;
	overflow:hidden;
}
.filter .page-switch .switch-btn:hover {
	background-color:#9C9C9C;
	color:#3F3E3E;
	text-decoration:none;
}
.filter .page-switch .switch-btn .ico {
	margin:3px 3px 4px 0;
	cursor:pointer;
}
.filter .page-switch .select,.filter .page-switch .select:hover {
	background-color:#F05C28;
	color:#FFF;
}
.cate-dir {
	zoom:1;
}
.cate-dir .hd {
	background-color:#d1d1d1;
	height:78px;
	text-align:center;
	line-height:78px;
}
.cate-dir .hd .t {
	font-size:18px;
	color:#333030;
}
.cate-dir .bd {
	background-color:#ebebeb;
}
.cate-dir-list .menu-item {
	zoom:1;
	overflow:hidden;
	font-size:16px;
	text-align:center;
	border:1px solid #d1d1d1;
	border-top:none;
	position:relative;
}
.cate-dir-list .menu-item a {
	display:block;
	line-height:38px;
	height:38px;
}
.cate-dir-list .menu-item a:hover {
	text-decoration:none;
}
.cate-dir-list .current-menu-item {
	background-color:#FFF;
	border-width:0 0 1px;
}
.cate-dir-list .current-menu-item a {
	color:#f05c28;
}
.cate-dir-list .menu-item .ico {
	position:absolute;
	left:52px;
	top:11px;
	display:none;
}
.cate-dir-list .current-menu-item .ico {
	display:block;
	cursor:pointer;
}
.page-nav-sya {
	text-align:center;
	padding:18px 0;
	background-color:#fff;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
.page-nav-sya a,.page-nav-sya span {
	font-size:12px;
	line-height:25px;
	display:inline-block;
	vertical-align:top;
	color:#383838;
	text-decoration:none;
	overflow:hidden;
	border:1px solid #d2d2d2;
	background:#f2f2f2;
	padding:0 10px;
	margin-right:10px;
}
.page-nav-sya .on {
	cursor:text;
	background:#f05c28;
	border-color:#f05c28;
	color:#fff;
}
.page-nav-sya .end {
	cursor:text;
	color:#909090;
}
.p-list-syd {
	zoom:1;
	overflow:hidden;
	margin-left:-39px;
	padding-top:10px;
}
.p-list-syd .p-item {
	margin-right:0;
	width:148px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:39px;
	padding-bottom:30px;
}
.p-list-syd .thumb-outer-sya {
	height:216px;
}
.p-list-syd .p-item .t {
	padding-right:22px;
}
.p-list-syd .score {
	position:absolute;
	right:0;
	top:217px;
	color:#ee5b27;
	font-size:14px;
}
.w960 .p-list-syd {
	margin-left:-40px;
}
.w960 .p-list-syd .p-item {
	margin-left:40px;
}
#ft .menu a {
padding: 0px 20px 0px 0px;
}
.orange {
color: #eb6100;
}
.line-gra1216 {
background: url(../images/line_gra1216.png) no-repeat;
height: 1px;
line-height: 0;
overflow: hidden;
font-size: 0;
margin: 10px 0px;
}
.pl{
font-size: 16px;
line-height: 26px;
}
#main {
	width:960px;
	margin:0 auto;
}
.single-video {
	background-color:#fff;
	border:1px solid #DFDFDF;
	margin-top:10px;
	padding:15px 0 0;
}
.single-video .horn-list-syb {
	margin:0;
}
.single-video .horn-list-syb .p-item {
	margin:0;
	margin-left:40px;
	_margin-left:38px;
}
.p-list {
	overflow:hidden;
	zoom:1;
	position:relative;
}
.p-item {
	position:relative;
	zoom:1;
	overflow:hidden;
	vertical-align:top;
}
.p-item .t {
	overflow:hidden;
	line-height:18px;
}
.p-item .t .ico {
	margin-right:5px;
}
.p-item .des {
	line-height:18px;
	height:36px;
	overflow:hidden;
	color:#808080;
	margin-bottom:2px;
}
.p-item .in-item {
	color:#808080;
}
.p-item .in-item a {
	color:#808080;
}
.p-item .thumb {
	vertical-align:top;
	overflow:hidden;
	margin-bottom:5px;
}
.p-item .thumb-outer {
	position:relative;
	display:block;
	zoom:1;
	margin-bottom:5px;
	overflow:hidden;
	color:#fff;
}
.p-item .thumb-outer .thumb {
	margin-bottom:0;
	vertical-align:top;
}
.p-item .thumb-outer:hover {
	text-decoration:none;
	color:#fff;
	border-color:#007ed8;
}
.p-item .puzzle-outer .thumb {
	margin-bottom:0;
	vertical-align:top;
}
.p-item .puzzle-outer:hover {
	text-decoration:none;
	color:#fff;
	border-color:#007ed8;
}
.pc-list {
	overflow:hidden;
	zoom:1;
	position:relative;
}
.pc-item {
	position:relative;
	zoom:1;
	overflow:hidden;
	vertical-align:top;
}
.pc-item .t {
	overflow:hidden;
	line-height:18px;
}
.pc-item .t .ico {
	margin-right:5px;
}
.pc-item .des {
	line-height:18px;
	height:18px;
	overflow:hidden;
	color:#808080;
	margin-bottom:2px;
}
.pc-item .in-item {
	color:#808080;
}
.pc-item .in-item a {
	color:#808080;
}
.pc-item .series-marks {
	width:108px;
	height:83px;
	overflow:hidden;
	margin-bottom:5px;
}
.pc-item .puzzle-outer {
	overflow:hidden;
	position:relative;
	zoom:1;
	display:block;
}
.pc-item .puzzle {
	vertical-align:top;
}
.pc-item .puzzle-outer .puzzle {
	margin-bottom:0;
	vertical-align:top;
}
.pc-item .puzzle-outer:hover {
	text-decoration:none;
}
.horn-list-syb {
	margin-right:-50px;
	zoom:1;
	overflow:hidden;
	margin-bottom:-12px;
}
.horn-list-syb .p-item {
	padding:0;
	margin:0;
	background:none;
	float:left;
	width:142px;
	height:240px;
	display:inline;
	position:relative;
	zoom:1;
	margin-right:38px;
	_margin-right:35px;
	overflow:visible;
	padding-bottom:12px;
}
.horn-list-syb .thumb-outer {
	width:140px;
	height:200px;
}
.horn-list-syb .thumb-outer:hover {
	border-color:#007ed8;
}
.horn-list-syb .thumb {
	width:140px;
	height:200px;
}
.horn-list-syb .t {
	font-weight:400;
	height:auto;
	line-height:18px;
	max-height:36px;
_height:expression(this.scrollHeight>36 ? "36px":"auto");
	-webkit-max-height:36px;
	overflow:hidden;
}
.horn-list-syb .info-list {
	margin-right:-21px;
}
.horn-list-syb .video-views {
	width:75px;
	float:left;
}
.horn-list-syb .in-item .numb {
	margin-right:0;
}
.horn-list-syd {
	margin:0;
	padding:0;
}
.horn-list-syd .p-item {
	background-color:#f6f6f6;
	padding:5px 8px 0 5px;
	_padding:5px 5px 0 5px;
	margin-top:15px;
	margin-left:24px;
	height:205px;
	position:relative;
	margin-right:0;
}
.ico-play {
background-image: url(../images/play/ico_play2.png);
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src="../images/play/ico_play2.png");
_background: none;
background-repeat: no-repeat;
display: block;
font-size: 0;
line-height: 0;
overflow: hidden;
color: transparent!important;
width: 29px;
height: 30px;
position: absolute;
left: 50%;
top: 50%;
margin-left: -15px;
margin-top: -22px;
visibility: hidden;
cursor: pointer;
}
a:hover .ico-play {
visibility: visible;
}
.error-bx  {
	margin-top:10px;
}
.s-bx {
	zoom:1;
	width:100%;
}
.s-bx a {
	color:#3297DC;
}
.s-bx .bd {
	padding:10px 15px 15px;
	background-color:#FFF;
	border:1px solid #DFDFDF;
	zoom:1;
}
.s-bx .colr {
	color:#6f6f6f;
	padding-left:15px;
	margin-top:10px;
}
.s-bx .tit {
	margin-bottom:10px;
	font-size:18px;
	font-family:Î¢ÈíÑÅºÚ;
}
.s-bx .in {
	line-height:24px;
}
.s-bx .e, .s-bx .x {
	color:#F47300;
	font-weight:bold;
}
.s-bx .x {
	vertical-align:middle;
	font-family:"\5b8b\4f53";
	font-size:12px;
	margin-right:5px;
}
.ico3 {
	display:inline-block;
	overflow:hidden;
	line-height:0;
	font-size:0;
	color:transparent!important;
	background:url(../images/play/ico3.png?v=20140122) no-repeat;
	vertical-align:middle;
}
.ico-error {
	width:70px;
	height:70px;
	background-position:0 -140px;
}