.kriesi_preview  {height: 130px;border: 1px solid #ddd;}
.kriesi_preview_pic  img{height: 120px;float: right;padding: 5px;}
.tt {font-weight:bold;padding-left: 10px;}
.ju {padding-left: 10px;}
.metabox-holder h3{font-weight: bold;}
